<!DOCTYPE html>
<html lang="en">
<head>
  <title>Test Menu</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <a class="navbar-brand" href="#"> Students Registration Form</a>
    </div>
    <ul class="nav navbar-nav">
      <li class="active"><a href="saveform">Students Details</a></li>
      <li><a href="index">Students Registration</a></li>
    </ul>
  </div>
</nav>
<div class="container">
  <form method="POST" class="post-form" action="/saveform" enctype="multipart/form-data">
    {% csrf_token %}
    <table class="table table-bordered">
      <thead class="dropdown">
        <tr>
          <th scope="col"> Student Name</th>
          <th scope="col"> Father Name </th>
          <th scope="col"> Email Id </th>
          <th scope="col"> Contact </th>
          <th scope="col"> Edit </th>
          <th scope="col"> Delete </th>
        </tr>
      </thead>
      {% for form in form_list %}
      <tbody>

        <tr>
          <td>{{form.name }}</td>
          <td>{{form.fname}}</td>
          <td>{{form.email}}</td>
          <td>{{form.contact }}</td>
          <td><button class="btn btn-default"><a href="/sedit?id={{form.id}}"> edit </a></button></td>
          <td><button class="btn btn-default"><a href="/delete?id={{form.id}}"> delete </a></button></td>

        </tr>


      </tbody>
      {% endfor %}
    </table>
  </form>
</div>

</body>
</html>